package pages

import "portfolio-v2/ui/html"

templ Home() {
	@html.Base() {
		<section class="home-hero">
			<img src="/static/img/face.webp" alt="Bitopan" class="home-image"/>
			<div class="home-content">
				<h1>Hello, World</h1>
				<h2>I am Bitopan, still looking for my passion</h2>
			</div>
		</section>
	}
}
