package pages

import "portfolio-v2/ui/html"

templ Home() {
	@html.Base() {
		<!-- ============ SLIDE 1 : Home ============ -->
		<section class="slide s-ink active" data-slide="0">
			<div class="inner scrollable">
				<div class="wrap cover">
					<div class="toprow" data-reveal>
						<span class="kicker hl-lime">Hello World! I am</span>
						// <div class="stickwrap">
						// 	<span class="sticker o">Now Booking</span>
						// 	<span class="sticker r2">New Album</span>
						// </div>
					</div>
					<div class="title" data-reveal>
						// <svg class="star spin floatstar" viewBox="0 0 100 100" aria-hidden="true">
						// 	<path d="M50 0c4 28 18 42 50 50-32 8-46 22-50 50-4-28-18-42-50-50 32-8 46-22 50-50z"></path>
						// </svg>
						<h1 class="huge">Bitopan<span class="o">Das</span></h1>
					</div>
					<p class="lead" data-reveal style="font-size:clamp(16px,1.8vw,21px);font-weight:600">
						Developer and Engineer
					</p>
					<div class="botrow" data-reveal>
						<div class="btnrow">
							<a class="btn fill" href="/about" data-goto="1">Know More About Me</a>
							// <a class="btn" href="#" data-goto="7">Booking</a>
						</div>
						// <span class="mono">EPK / TM-627</span>
					</div>
				</div>
				<!-- in-flow bottom marquee -->
				// <div class="marquee bleed" data-reveal style="margin-top:20px;border-bottom:none;background:var(--lime);color:var(--ink)">
				// 	<div class="track">
				// 		<span>New album "Maximum Volume" out now</span><span class="s">&#10022;</span>
				// 		<span>2.4M monthly listeners</span><span class="s">&#10022;</span>
				// 		<span>As loud as legally allowed</span><span class="s">&#10022;</span>
				// 		<span>New album "Maximum Volume" out now</span><span class="s">&#10022;</span>
				// 		<span>2.4M monthly listeners</span><span class="s">&#10022;</span>
				// 		<span>As loud as legally allowed</span><span class="s">&#10022;</span>
				// 	</div>
				// </div>
			</div>
		</section>
	}
}
