package pages

import "portfolio-v2/ui/html"

templ Home() {
    @html.Base() {
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>

        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>

        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        <div class="home-content">
            <h1>This is Home</h1>
        </div>
        
    }
}