package pages

templ NotFound() {
	<div class="not-found-content">
		// <h1>404 - Page Not Found</h1>
		<p class="not-found-text">
			BRUH! 
		</p>
		<p>Looking for ISRO secrets in this site?</p>
		<img
			src="../../static/img/404.webp"
			alt="404 page not found"
			class="not-found-image"
		/>
	</div>
}
