package pages

import "portfolio-v2/ui/html"

templ Tour() {
	@html.Base() {
		<!-- ============ SLIDE 3 : Experience ============ -->
		<section class="slide s-ink" data-slide="5">
			<div class="inner scrollable">
				<div class="wrap">
					// <span class="kicker hl-orange" data-reveal>03 / The Music</span>
					<h2 class="big hl-lime" data-reveal style="margin:6px 0 14px">Experience</h2>
					<div class="rel-hero" data-reveal>
						<div>
							// <span class="sticker">Latest</span>
							<div class="mid hl-orange" style="margin-top:10px">Developer Trainee</div>
							<p class="mono" style="margin-top:5px;color:var(--white)">Maventic Innovative Solutions Pvt. Ltd.</p>
							<span >Current</span>
						</div>
						// <a class="btn fill" href="#">Stream Now</a>
						<p class="mono" style="margin-top:5px;color:var(--white)">Nov 2025 - Present</p>
					</div>
					<div class="rel-hero" data-reveal>
						<div>
							// <span class="sticker">Latest</span>
							<div class="mid hl-orange" style="margin-top:10px">Development Intern</div>
							<p class="mono" style="margin-top:5px;color:var(--white)">Innect Technologies Pvt. Ltd.</p>
						</div>
						// <a class="btn fill" href="#">Stream Now</a>
						<p class="mono" style="margin-top:5px;color:var(--white)">June 2025 - October 2025</p>
					</div>
					<div class="rel-hero" data-reveal>
						<div>
							// <span class="sticker">Latest</span>
							<div class="mid hl-orange" style="margin-top:10px">Student Intern</div>
							<p class="mono" style="margin-top:5px;color:var(--white)">Indian Institute of Information Technology Guwahati</p>
						</div>
						// <a class="btn fill" href="#">Stream Now</a>
						<p class="mono" style="margin-top:5px;color:var(--white)">June 2024 - July 2024</p>
					</div>
					// <div class="rel-list">
					// 	<div class="rel-row" data-reveal><span class="t">1000 Gigabytes Of Luv</span><span class="ty">Single</span><span class="yr">2025</span></div>
					// 	<div class="rel-row" data-reveal><span class="t">Crash My Heart</span><span class="ty">Single</span><span class="yr">2025</span></div>
					// 	<div class="rel-row" data-reveal><span class="t">Stardust.exe</span><span class="ty">EP</span><span class="yr">2024</span></div>
					// 	<div class="rel-row" data-reveal><span class="t">Bubblegum Hyperdrive</span><span class="ty">Single</span><span class="yr">2024</span></div>
					// 	<div class="rel-row" data-reveal><span class="t">First Upload</span><span class="ty">Demo</span><span class="yr">2023</span></div>
					// </div>
				</div>
			</div>
		</section>
	}
}
