package partials

templ Nav() {
	
	// this is new nav
	<header class="global-header">
		<nav class="nav">
			<a href="#about"><h2>About</h2></a>
			<a href="#contact"><h2>Contact</h2></a>
		</nav>
	</header>
}
